{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block content %}



<section id="hero">
  <div class="hero-container">
    <h3>Welcome to <strong>DriveSync</strong></h3>
    <h1>Explore the world with DriveSync Limited</h1>
    <h2>Dear, {{user.username}} DriveSync Welcomes you ...</h2>
    <a href="" class="btn-get-started scrollto">Browse Now</a>
  </div>
</section>

{% endblock content %} 
{% block body %}
<div class="container mt-5">
  <h1 class="text-center">Discover the Freedom of Drive Sync</h1>

  <div class="row justify-content-center mt-4">
      <div class="col-md-6">
          <p class="lead">Embark on a journey with Drive Sync, your premier destination for effortless car and bike rentals. With a wealth of experience in the transportation industry, we are dedicated to offering you the perfect vehicles for every adventure.</p>

          <h2 class="text-center mt-4 mb-3">Why Drive Sync?</h2>
          <ul class="list-group">
              <li class="list-group-item">
                  <i class="fas fa-car fa-lg text-primary me-2"></i>
                  Explore a diverse range of meticulously maintained cars and bikes, tailored to suit your preferences and budget.
              </li>
              <li class="list-group-item">
                  <i class="fas fa-percent fa-lg text-primary me-2"></i>
                  Enjoy the best rental rates and exclusive deals, ensuring a cost-effective and delightful travel experience.
              </li>
              <li class="list-group-item">
                  <i class="fas fa-check-circle fa-lg text-primary me-2"></i>
                  Experience a hassle-free booking process, from selecting your vehicle to easy check-in and check-out.
              </li>
              <li class="list-group-item">
                  <i class="fas fa-hands-helping fa-lg text-primary me-2"></i>
                  Count on our dedicated customer service, going the extra mile to exceed your expectations and make your trip memorable.
              </li>
              <br>
          </ul>
      </div>
  </div>
</div>


{% endblock body %}